<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyWeb</title>
    <link rel="stylesheet" href="style.css">
    
    
    <link rel="stylesheet" href="{% static 'css_js/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.min.css' %}">

    <!-- JS, Popper.js, and jQuery -->
    <script src="{% static 'css_js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'css_js/popper.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.esm.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.esm.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>


</head>
<script>
    
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    /*document.body.style.backgroundColor = "rgba(0,0,0,0.4)";*/
  }
  /*關閉側欄，恢復原始側欄寬度，主體左跨度、背景透明度*/
  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "-250";
      document.body.style.backgroundColor = "white";
  }


    
</script>
<body>
    <header>
        <h1>MyWeb</h1>
    </header>
    <main>
        <div id="mySidenav" class="sidenav" >
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" aria-labelledby="navbarDropdownMenuLink">&times;</a>
              <a class="dropdown-item" href="{% url 'test:test' %}"><img src="images/Home.png "style="width: 25px;height: 25px">&nbsp;&nbsp;首頁&emsp;&emsp;</a>
              <a class="dropdown-item" href="{% url 'desktop:desktop' %}"><img src="images/park.png "style="width: 25px;height: 25px">&nbsp;&nbsp;Research&emsp;&emsp;</a>
              <a class="dropdown-item" href="{% url 'Visit:Visit' %}"><img src="images/visit.png"style="width: 25px;height: 25px">&nbsp;&nbsp;Research&emsp;&emsp;</a>
              <a class="dropdown-item" href="{% url 'gungou:gungou' %}"><img src="images/announce.png "style="width: 25px;height: 25px">&nbsp;&nbsp;Research&emsp;&emsp;</a>
              <a class="dropdown-item" href="{% url 'package:package' %}"><img src="images/store.png"style="width: 25px;height: 25px">&nbsp;&nbsp;Research&emsp;&emsp;</a>
              <a class="dropdown-item" href="http://www.csh.org.tw/"><img src="images/postal.png"style="width: 25px;height: 25px">&nbsp;&nbsp;Research&emsp;&emsp;</a>
              <a class="dropdown-item" href="{% url 'appeal:appeal' %}"><img src="images/appeal.png"style="width: 25px;height: 25px">&nbsp;&nbsp;Research&emsp;&emsp;</a>
              <a class="dropdown-item" href="{% url 'announce:announce' %}"><img src="images/resident.png"style="width: 25px;height: 25px">&nbsp;&nbsp;Research&emsp;&emsp;</a>
              <a class="dropdown-item" href="{% url 'shift:shift' %}"><img src="images/permission.png"style="width: 25px;height: 25px">&nbsp;&nbsp;Research&emsp;&emsp;</a>
          </div>
        <div id="main4" >
          <span style="font-size:30px; cursor:pointer;" onclick="openNav()">&#9776; </span>
        </div>

        <section id="introduction">
            
            <div>
                <h2 >About Me<br></h2>
                <div class="aboutme" >
                    <p id="abouttext">During my undergraduate studies, I focused on the integration of medical and information technology applications. 
                    I actively engaged with medical units and utilized natural language processing techniques to enhance operational workflows. 
                    My skills include processing unstructured articles using N-gram, building systems for medical staff using the Django framework, 
                    database management, data cleansing, and developing rule-based AI automation for case processing to streamline manpower. Additionally, 
                    I was honored with the first prize in a project presentation on campus.
                    To further refine my experiences and abilities,I am eager to seek opportunities for summer internships to broaden my horizons and gain practical experience.
                    </p>
                </div>
                <div class="aboutme">
                    <img id="imgme" src="images/S1697.jpg" />
                    <div class="contact-info">
                        <p>
                        contact：0909-000-000<br>
                        Email：lexlex4545@gmail.com<br>
                        Education：<br>
                        </p>
                    </div>
                </div>
                
            </div>
            
        </section>

        <div class="button-container" style="margin-left: 15%;margin-top: 2%;">
            <div class="image-button">
              <img src="大三元社區系統.png" alt="Button 1">
              <span class="button-title">Button 1 Title</span>
            </div>
            <div class="image-button">
              <img src="文字處理.png" alt="Button 2">
              <span class="button-title">Button 2 Title</span>
            </div>
            <div class="image-button">
              <img src="感控收案網站 - 複製2.png" alt="Button 3">
              <span class="button-title">Button 3 Title</span>
            </div>
            <div class="image-button">
              <img src="睡覺.png" alt="Button 4">
              <span class="button-title">Button 4 Title</span>
            </div>
        </div>    









    </main>
    






    <footer>
        <p>© 2024 我的網站</p>
    </footer>
</body>
</html>
