body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* 淺藍色背景 */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e0f7fa; /* 更淺的藍色作為標題背景 */
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #007acc; /* 深藍色標題 */
}

footer {
    background-color: #e0f7fa;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#introduction {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1%;
    margin-left: 15%;
}

.aboutme {
    /*background-color: #879daf;*/
    display: inline-block;
    vertical-align: top;
    width: 49%;
    box-sizing: border-box;
    
    position: relative; /* 添加這行 */
    padding-right: 10px; /* 添加這行 */
}

#abouttext {
    max-width: 100%;
    font-family: 'DFKai-SB', 'KaiTi', serif;
    font-size: 22px;
}

.aboutme img {
    display: block;
    margin: 0 auto;
    max-width: 40%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: absolute; /* 添加這行 */
    top: 0; /* 添加這行 */
    right: 0; /* 添加這行 */
}

.contact-info p {
    margin: 5px 0;
}



  
  /*側邊欄選擇器*/
  .sidenav {
    height: 100%;
    width: 0; /*原始寬度爲0*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/*側邊欄選項選擇器*/
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/*側欄標籤和關閉按鈕光標的效果*/
.sidenav a:hover, .offcanvas a:focus{
    color: black;
}

/*側欄和關閉按鈕的位置選擇器*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media only screen and (max-width: 1000px) {
    .aboutme {
        width: 100%; /* 修改寬度為100%以使其在手機上佔滿寬度 */
        padding-right: 0; /* 移除右側填充 */
    }

    .aboutme img {
        max-width: 100%; /* 將圖片寬度設置為100%以自適應手機屏幕 */
    }

    .contact-info {
        position: relative; /* 將位置改為相對位置 */
        width: 100%; /* 將寬度設置為100%以使其佔滿寬度 */
        margin-top: 10px; /* 添加一些頂部間距以避免重疊 */
        text-align: center; /* 將文本居中對齊 */
    }
}
