<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyWeb</title>
    <link rel="stylesheet" href="Tokenizestyle.css">
    
    
    <link rel="stylesheet" href="{% static 'css_js/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.min.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css_js/bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.min.css' %}">

    <!-- JS, Popper.js, and jQuery -->
    <script src="{% static 'css_js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'css_js/popper.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.esm.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.esm.min.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'css_js/bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>


</head>
<script>
    
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        /*document.body.style.backgroundColor = "rgba(0,0,0,0.4)";*/
    }
    /*關閉側欄，恢復原始側欄寬度，主體左跨度、背景透明度*/
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "-250";
        document.body.style.backgroundColor = "white";
    }

    
</script>
<body>
    <header>
        <h1>MyWeb</h1>
    </header>
    <main>
        <div id="mySidenav" class="sidenav" >
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" aria-labelledby="navbarDropdownMenuLink">&times;</a>
              <a class="dropdown-item" href="index.html"><img src="Home.png "style="width: 25px;height: 25px">&nbsp;首頁&emsp;&emsp;</a>
              <a class="dropdown-item" href="infection.html"><img src="resident.png"style="width: 25px;height: 25px">&nbsp;感染智慧管控</a>
              <a class="dropdown-item" href="Tokenize.html"><img src="announce.png"style="width: 25px;height: 25px">&nbsp;醫療文字處理</a>
              <a class="dropdown-item" href="Apnea.html"><img src="permission.png"style="width: 25px;height: 25px">&nbsp;睡眠中止症分類</a>
              <a class="dropdown-item" href="Community.html"><img src="appeal.png"style="width: 25px;height: 25px">&nbsp;社區系統建置</a>
              <!--
              <a class="dropdown-item" href="http://www.csh.org.tw/"><img src="images/postal.png"style="width: 25px;height: 25px">&nbsp;&nbsp;Research&emsp;&emsp;</a>
              <a class="dropdown-item" href="{% url 'appeal:appeal' %}"><img src="images/store.png"style="width: 25px;height: 25px">&nbsp;&nbsp;Research&emsp;&emsp;</a>
              <a class="dropdown-item" href="{% url 'announce:announce' %}"><img src="images/park.png"style="width: 25px;height: 25px">&nbsp;&nbsp;Research&emsp;&emsp;</a>
              <a class="dropdown-item" href="{% url 'shift:shift' %}"><img src="images/visit.png"style="width: 25px;height: 25px">&nbsp;&nbsp;Research&emsp;&emsp;</a>
        -->
        </div>
        <div id="main4" >
          <span style="font-size:30px; cursor:pointer;" onclick="openNav()">&#9776; </span>
          
            <div class="content-container">
                
                <div class="banner">
                    <h2>文字處理</h2>
                    <img src="文字處理.png" alt="Banner Image">
                </div>
                <div class="description">
                    <h2>中山附醫人工智慧中心</h2>
                    <p>中山附醫每年記錄的護理紀錄超過千萬份，這些紀錄包含了大量的生理資訊、患者主訴等豐富內容。這些數據由於是<strong class="highlight">全人工輸入的自由格式文字</strong></b>，常常會存在錯別字、同義詞多樣等問題。為了解決這些問題，本研究採用了N-gram技術來分析字詞間的數量與關係，並自動標記出錯別字與同義詞。<br><br>

                        通過N-gram技術，我們能夠識別出詞語之間經常共同出現的模式，從而發現潛在的拼寫錯誤和同義詞變體。這些標記隨後由護理人員進行二次確認，以確保標記的準確性和有效性。這一過程大大提升了文字資料的準確性與可信度。<br><br>
                        
                        在將非結構化文字轉化為結構化文字的過程中，我們特別關注<strong class="highlight">專有名詞的標準化</strong>。例如，護理紀錄中涉及的管路名稱有多達百種，而2021年中這些名稱卻存在上千種不同的書寫方式。為了解決這一問題，我們針對文章內的專有名詞進行辨識，同樣請護理人員進行二次確認。這樣一來，我們可以確保這些專有名詞在整個數據集中具有一致性，從而實現專有名詞標準化的循環。<br><br>
                        
                        此外，這樣的標準化過程不僅限於管路名稱，我們也應用於其他常見的醫療術語和診斷名詞。這樣的處理方式，有助於提高數據的一致性和準確性，通過這一系列的技術和流程，我們將護理紀錄內的資訊都有效的提取出，迅速摘要出文章中的重要資訊。<br>

                        
                    <div class="hashtags">
                        <span>#N-gram</span>
                        <span>#護理紀錄</span>
                        <span>#專有名詞標準化</span>
                    </div>
                </div>
            </div>
            
            <div class="content">
                
                <p>
                </p>
            </div>
        </div>







    </main>
    






    <footer>
        <p>© 2024 我的網站</p>
    </footer>
</body>
</html>
